@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  border-radius: 0 !important;
}

.bg-dark {
  background: #3D0C08 !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.scrollable {
  height: 1000px;
  overflow-y: scroll;
}

.list-group-item {
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
